body {
    font-family: Arial, sans-serif;
    background-color: #20C997;
    color: #ffffff;
    padding: 20px;
}
.form-container {
    background-color: #20C997;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}
textarea {
    resize: vertical;
    min-height: 60px;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #CC0000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
button:hover {
    background-color: #FF0000;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}
h2 {
    text-align: center;
    color: #CC0000;
    margin-bottom: 15px;
}
input::placeholder,
textarea::placeholder {
    color: #bbb;  
    opacity: 1;         
    font-style: italic;   
}
